/* *,
*:before,
*:after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background-color: #fafafa;
}
.container {
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
}
.card {
  height: 26.25em;
  width: 20em;
  background: linear-gradient(to bottom, #3d91f5 6.87em, #ffffff 6.87em);
  padding: 3.12em 0;
  box-shadow: 1em 1.5em 3em rgba(0, 0, 0, 0.1);
  border-radius: 1em;
}
.card * {
  font-family: "Poppins", sans-serif;
  text-align: center;
  letter-spacing: 0.031em;
  font-weight: 600;
}
img {
  display: block;
  width: 6.25em;
  height: 6.25em;
  position: relative;
  border-radius: 50%;
  margin: 0 auto;
  box-shadow: 0 0 0 0.5em #ffffff;
}
.card h4 {
  color: #3d91f5;
  font-size: 1em;
  margin: 0.92em 0 0.3em 0;
}
.card h5 {
  color: #454545;
  font-weight: 400;
  font-size: 0.87em;
}
.details {
  width: 100%;
  margin-top: 1.87em;
  display: flex;
  justify-content: space-around;
}
.details h2 {
  font-weight: 400;
}
.details span {
  color: #3d91f5;
}
.buttons {
  width: 100%;
  display: flex;
  justify-content: space-around;
  margin-top: 1.87em;
}
button {
  padding: 0.5em 2em;
  border: none;
  border: 0.12em solid #3d91f5;
  border-radius: 0.31em;
}
.buttons button:first-child {
  background-color: #3d91f5;
  color: #ffffff;
}
.buttons button:last-child {
  background-color: transparent;
  color: #3d91f5;
}
@media screen and (max-width: 501px) {
  .container {
    font-size: 0.8em;
  }
} */


