








/* Media query for mobile view */
@media (max-width: 768px) {
    .navbar {
        grid-template-columns: 1fr 1fr; /* ab logo aur menu toggle hi honge basic layout */
    }
    .logo {
        grid-column: 1;
    }
    .menu-toggle {
        display: flex; /* mobile pe dikhega */
        align-items: center;
        justify-self: end;
        padding: 10px 0;
        grid-column: 2; /* second column */
    }
    /* Hidden by default pada rahega */
    .nav-links {
        display: none;
        flex-direction: column;
        width: 100%;
        position: absolute;
        top: 100%;
        left: 0;
        background-color: #444;
        padding: 0;
        margin: 0;
        grid-column: 1 / -1; /* full width */
    }
    /* Show menu when active */
    .navbar.active .nav-links {
        display: flex;
    }
}